In [1]:
"""
Project for Olin College, Data Science, Spring 2017.

Data from:
https://www.nass.usda.gov/Surveys/Guide_to_NASS_Surveys/Bee_and_Honey/
http://usda.mannlib.cornell.edu/MannUsda/viewDocumentInfo.do?documentID=1191


unzip the csv zip files with

$  for VARIABLE in 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016; 
$  do   unzip *$VARIABLE.zip -d $VARIABLE; 
$  done

or pull them from my git.
"""

import numpy as np
import pandas
import os

In [2]:
csv_years = [2002 + i for i in range(15)]
csv_path = "data/csvs/"
all_csvs = []

for i in csv_years:
    this_path = csv_path + str(i) + "/"
    these_files = os.listdir(this_path)
    these_csvs = [(this_path + i) for i in these_files if i[-4:] == ".csv"]
    all_csvs.extend(these_csvs)

In [6]:
# all_csvs

In [7]:
# pandas.DataFrame.from_csv(all_csvs[-1]) # errors?..
# df = pandas.read_csv(all_csvs[2]) # also errors. Something about an error tokenizing? not sure what that means...
# For some reason, the first couple lines of all of these entries are... 3 long instead of, say, 9?
# May need to truncate them a bit.
# Yep, that's definitely it. The formatting gets mucked up - either we're not reading it right, or these
# csvs are actually formatted a bit differently.

df = pandas.read_csv(all_csvs[3])
# ^^ that works if you go to the corresponding file and remove all of the 
# "metadata"-y lines, like the 3-column one explaining the project.

# sketchy solution: truncate lines of the files, in a try:except loop, until it loads successfully?
# or, manually doing it for all the CSVs...?
# The problem is that the first few lines are information - things like info on the USDA program behind the data
# collection. So, pandas sees three elements in each of the first two lines, csv-style, and then assumes that it's
# a csv of 3-element rows.
# TODO: figure out a better workaround.

In [28]:
def sanitize_then_load_csv(target_file):
    """
    does what it says on the tin - gets around the metadata-y columns, scanning the file to skip them, 
    then loads and returns a pandas dataframe of it.
    
    TODO: column names.
    """
    
    f = open(target_file)
    lines_to_skip = []
    for i, line in enumerate(f.readlines()):
        l_split = line.split(',')
        if len(l_split) < 9:
#             print i, '\t', len(l_split),'\t', l_split
            lines_to_skip.append(i)
    print lines_to_skip
    df = pandas.read_csv(target_file, skiprows=lines_to_skip)
    return df

In [29]:
san_df = sanitize_then_load_csv(all_csvs[1])

[0, 1, 22]

In [30]:
san_df

,1,h,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1,h,NaN,Price,Price,Price,Price,Price,Price
1,1,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,h,Color Class,Co-op and Private,Co-op and Private,Retail,Retail,All,All
3,1,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,h,NaN,2000,2001,2000,2001,2000,2001
5,1,h,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,u,NaN,Cents per Pound,Cents per Pound,Cents per Pound,Cents per Pound,Cents per Pound,Cents per Pound
7,1,d,"Water White,",NaN,NaN,NaN,NaN,NaN,NaN
8,1,d,"Extra White, White",56.3,65.0,114.5,125.4,58.2,66.5
9,1,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,d,Extra Light Amber,56.0,64.0,121.7,130.7,60.7,66.9
11,1,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,d,"Light Amber,",NaN,NaN,NaN,NaN,NaN,NaN
13,1,d,"Amber, Dark Amber",49.8,59.8,141.9,152.2,60.1,66.6
14,1,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,d,"All Other Honey,",NaN,NaN,NaN,NaN,NaN,NaN
16,1,d,Area Specialties,63.2,59.8,175.2,152.5,92.9,78.7
17,1,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,d,All Honey,55.1,63.3,130.4,140.6,59.7,66.9

CParserError: Error tokenizing data. C error: Expected 3 fields in line 3, saw 9